<html>
  <head>
    <title>Demo</title>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
    <meta name='description' content='Demo Project' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link
      rel='stylesheet'
      href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
    />
  </head>
  <body>
    <div>
      <h1>Hello, {{verification.name}}</h1>
      <p>Please click the link below to verify</p>
      <a class="btn" href="https://www.youtube.com/">Link</a>
    </div>
    <script type='text/javascript'>
    </script>
  </body>
</html>